<div class="cookies js-cookies">
    <div class="cookies__top-row">
        <svg width="14" height="14" aria-hidden="true" class="icon-cookie">
            <use xlink:href="#cookie"></use>
        </svg>
        <div class="cookies__content">
            <p>
                С заботой о вас, мы используем cookie на своем сайте, чтобы интернет был чистым и прекрасным
            </p>
        </div>
    </div>
    <button class="cookies__accept-btn" type="button">
        Всё понимаю
    </button>

</div>