<footer class="page-footer" id="contacts">
    <div class="container">
        <div class="page-footer__row">
            <div class="page-footer__col page-footer__col--logo">
                <a href="#" class="page-footer__logo">
                    <img src="img/mobile-logo.svg" alt="" class="page-footer__logo-image">
                </a>
            </div>
            <div class="page-footer__col">
                <h3 class="page-footer__heading">
                    Меню
                </h3>
                <nav class="page-footer__menu">
                    <ul class="page-footer__menu-list">
                        <li class="page-footer__menu-list-item">
                            <a href="#" class="page-footer__menu-link">
                                <span>
                                    Главная
                                </span>
                            </a>
                        </li>
                        <li class="page-footer__menu-list-item">
                            <a href="#" class="page-footer__menu-link">
                                <span>
                                    Услуги
                                </span>
                            </a>
                        </li>
                        <li class="page-footer__menu-list-item">
                            <a href="#" class="page-footer__menu-link">
                                <span>
                                    Портфолио
                                </span>
                            </a>
                        </li>
                        <li class="page-footer__menu-list-item">
                            <a href="#" class="page-footer__menu-link">
                                <span>
                                    Контакты
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="page-footer__col">
                <h3 class="page-footer__heading">
                    Контакты
                </h3>
                <div class="page-footer__contacts">
                    <a href="mailto:aquilasoft@gmail.com" class="page-footer__contacts-link">
                        <span class="page-footer__contacts-link-text">
                            <span>
                                aquilasoft@gmail.com
                            </span>
                        </span>
                    </a>
                    <a href="tel:+79876543210" class="page-footer__contacts-link">
                        <span class="page-footer__contacts-link-text">
                            <span>
                                8 987 654 32 10
                            </span>
                        </span>
                    </a>
                    <a href="#" class="page-footer__contacts-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                            <use xlink:href="#telegram"></use>
                        </svg>
                        <span class="page-footer__contacts-link-text">
                            <span>
                                @Aquilasoft
                            </span>
                        </span>
                    </a>
                    <a href="#" class="page-footer__contacts-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                            <use xlink:href="#instagram"></use>
                        </svg>
                        <span class="page-footer__contacts-link-text">
                            <span>
                                @aquilamedia_ru
                            </span>
                        </span>
                    </a>
                    <a href="#" class="page-footer__contacts-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-location">
                            <use xlink:href="#location"></use>
                        </svg>
                        <span class="page-footer__contacts-link-text">
                            <span>
                                Братьев Петряевых 5к2,<br> Казань, 420021
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="page-footer__col">
                <a href="#audit-modal" class="page-footer__get-service js-open-modal">
                    Подобрать<br> услугу
                </a>
            </div>
            <div class="page-footer__col">
                <div class="page-footer__copyright">
                    <p>
                        Aquilasoft, 2021
                    </p>
                </div>
            </div>
            <div class="page-footer__col">
                <a href="#" class="page-footer__policy">
                    Политика конфиденциальности
                </a>
            </div>
        </div>

    </div>
</footer>