<header class="page-header">
    <div class="container">
        <div class="page-header__row">

            <a href="#" class="page-header__logo">

                <img src="img/mobile-logo.svg" alt="Logo" class="page-header__logo-image">
            </a>
            <div class="page-header__languages">
                <a href="#" class="page-header__languages-link active">
                    РУС
                </a>
                <a href="#" class="page-header__languages-link">
                    ENG
                </a>
            </div>


            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Главная
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link {{#if servicesPage }} active {{/if}}">
                            услуги
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link {{#if portfolioPage }} active {{/if}}">
                            портфолио
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="tel:+79876543210" class="page-header__phone">
                8 987 654 32 10
            </a>
            <div class="page-header__menu">
                <nav class="page-header__menu-nav">
                    <ul class="page-header__menu-nav-list">
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link">
                                Главная
                            </a>
                        </li>
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link {{#if servicesPage }} active {{/if}}">
                                услуги
                            </a>
                        </li>
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link {{#if portfolioPage }} active {{/if}}">
                                портфолио
                            </a>
                        </li>
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link">
                                контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="page-header__menu-contacts-list">
                    <li class="page-header__menu-contacts-list-item">
                        <a href="#" class="page-header__menu-contacts-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                <use xlink:href="#instagram"></use>
                            </svg>
                            @aquilamedia_ru
                        </a>
                    </li>
                    <li class="page-header__menu-contacts-list-item">
                        <a href="#" class="page-header__menu-contacts-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                <use xlink:href="#telegram"></use>
                            </svg>
                            телеграм студии
                        </a>
                    </li>
                    <li class="page-header__menu-contacts-list-item">
                        <a href="tel:+79876543210" class="page-header__menu-contacts-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-phone">
                                <use xlink:href="#phone"></use>
                            </svg>
                            8 987 654 32 10
                        </a>
                    </li>
                    <li class="page-header__menu-contacts-list-item">
                        <a href="mailto:aquilasoft@gmail.com" class="page-header__menu-contacts-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-mail">
                                <use xlink:href="#mail"></use>
                            </svg>
                            aquilasoft@gmail.com
                        </a>
                    </li>
                </ul>
            </div>
            <burger class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </burger>



        </div>
    </div>
</header>