<div class="modal js-modal" id="case-modal">
    <div class="modal__inner">

        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <div class="modal__content">



            <div class="modal__slider js-modal-slider">
                <div class="modal__slider-top-row">
                    <h3 class="modal__heading">
                        Небольшое или длинное название кейса в две строчки или больше
                    </h3>
                    <div class="modal__slider-buttons">
                        <button class="modal__slider-button modal__slider-button--prev" type="button">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="modal__slider-button modal__slider-button--next" type="button">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="img/modals/1.jpg" class="modal__slider-card" data-fancybox="case-modal-1">
                                <div class="modal__slider-card-image-container">
                                    <img src="img/modals/1.jpg" alt="" class="modal__slider-card-image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/modals/2.jpg" class="modal__slider-card" data-fancybox="case-modal-1">
                                <div class="modal__slider-card-image-container">
                                    <img src="img/modals/2.jpg" alt="" class="modal__slider-card-image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/modals/3.jpg" class="modal__slider-card" data-fancybox="case-modal-1">
                                <div class="modal__slider-card-image-container">
                                    <img src="img/modals/3.jpg" alt="" class="modal__slider-card-image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/modals/4.jpg" class="modal__slider-card" data-fancybox="case-modal-1">
                                <div class="modal__slider-card-image-container">
                                    <img src="img/modals/4.jpg" alt="" class="modal__slider-card-image">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal__row">
                <div class="modal__main">
                    <div class="modal__content-blocks">


                        <div class="modal__content-block">
                            <h4 class="modal__content-block-heading">
                                Описание кейса
                            </h4>
                            <div class="modal__content-block-text">
                                <p>
                                    Позиционирование на рынке специфицирует нестандартный подход. Изменение глобальной
                                    стратегии
                                    как всегда непредсказуемо. Позиционирование на рынке специфицирует нестандартный
                                    подход.
                                    Изменение глобальной стратегии как всегда непредсказуемо.
                                </p>
                            </div>
                        </div>
                        <div class="modal__content-block">
                            <h4 class="modal__content-block-heading">
                                Проблема
                            </h4>
                            <div class="modal__content-block-text">
                                <p>
                                    Комплексный анализ ситуации, следовательно, позиционирует сублимированный
                                    департамент
                                    маркетинга и продаж.
                                </p>
                            </div>
                        </div>
                        <div class="modal__content-block">
                            <h4 class="modal__content-block-heading">
                                Решение
                            </h4>
                            <div class="modal__content-block-text">
                                <p>
                                    Комплексный анализ ситуации, следовательно, позиционирует сублимированный
                                    департамент
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal__buttons">
                        <a href="#callback-modal" class="modal__more-btn js-open-modal">
                            Рассказать подробнее
                        </a>
                        <div class="modal__more-btn-text">
                            <p>
                                Менеджер проекта — Константин свяжется с вами, чтобы больше рассказать о проекте
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal__sidebar">
                    <div class="modal__sidebar-text">
                        <p>
                            Аудит и аналитика, контекстная реклама Google & Yandex, веб&#8209;разработка и приложения
                        </p>
                    </div>
                    <div class="modal__manager">
                        <h4 class="modal__manager-heading">
                            Менеджер проекта
                        </h4>
                        <div class="modal__manager-card">
                            <div class="modal__manager-card-photo-container">
                                <img src="img/manager.jpg" alt="" class="modal__manager-card-photo">
                            </div>
                            <div class="modal__manager-card-content">
                                <div class="modal__manager-card-name">
                                    Петр Яковлев
                                </div>
                                <div class="modal__manager-card-role">
                                    Таргетолог
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal js-modal" id="event-modal">
    <div class="modal__inner">

        <button class="modal__close modal__close--white-on-mobile js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <div class="modal__content">
            <div class="modal__event-image-container">
                <img data-src="img/event-photo.jpg" alt="" class="modal__event-image lazyload">
                <h3 class="modal__event-heading">
                    Название какой-то клевой вечеринки и фото счастливых людей
                </h3>
            </div>
            <div class="modal__row">
                <div class="modal__main">
                    <div class="modal__content-blocks">


                        <div class="modal__content-block">
                            <h4 class="modal__content-block-heading">
                                Описание
                            </h4>
                            <div class="modal__content-block-text">
                                <p>
                                    Профессионально реализовываем perfomance-маркетинг, опираясь на ключевые показатели
                                    вашего бизнеса. Внедряем сквозную аналитику и работаем над всеми этапами воронки
                                    продаж
                                </p>
                            </div>
                        </div>
                        <div class="modal__content-block">
                            <h4 class="modal__content-block-heading">
                                Дата
                            </h4>
                            <div class="modal__content-block-datetime">
                                <div class="modal__content-block-datetime-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-calendar">
                                        <use xlink:href="#calendar"></use>
                                    </svg>
                                    05.12.2021
                                </div>
                                <div class="modal__content-block-datetime-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    17:00
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal__sidebar">
                    <div class="modal__content-blocks modal__content-blocks--one-col">


                        <div class="modal__content-block">
                            <h4 class="modal__content-block-heading">
                                Тема мероприятия
                            </h4>
                            <div class="modal__content-block-text">
                                <p>
                                    Контекстная реклама Google & Yandex
                                </p>
                            </div>
                            <div class="modal__content-block-event-tag">
                                Онлайн • Вебинар
                            </div>
                        </div>
                        <div class="modal__content-block">
                            <h4 class="modal__content-block-heading">
                                Количество участников
                            </h4>
                            <div class="modal__content-block-text">
                                <p>
                                    20 человек
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<div class="modal js-modal js-quiz" id="quiz-modal">
    <form action="/" class="modal__quiz-form" method="POST" data-need-validation="" id="quiz-form">
        <div class="modal__quiz-layers ">
            <div class="modal__quiz-layer" data-id="start">
                <div class="modal__inner modal__inner--quiz">

                    <button class="modal__close js-close-modal">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>

                    <div class="modal__content modal__content--quiz">

                        <div class="modal__quiz-slider">
                            <div class="modal__quiz-slider-top-row">
                                <h3 class="modal__quiz-heading">
                                    Ответь несколько вопросов
                                </h3>
                                <div class="modal__quiz-pagination">
                                    1/4
                                </div>
                            </div>
                            <div class="modal__quiz-slider-progress" style="--progress: 0.25;">

                            </div>
                            <div class="modal__quiz-slider-wrapper">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="modal__quiz-slider-step">
                                                <h4 class="modal__quiz-slider-step-heading">
                                                    Опишите свою деятельность
                                                </h4>
                                                <div class="modal__quiz-slider-input-wrapper">
                                                    <textarea name="industry" class="modal__quiz-textarea"
                                                        placeholder="Вводите текст сюда"></textarea>
                                                </div>
                                                <div class="modal__quiz-slider-buttons">
                                                    <button class="modal__quiz-slider-button js-quiz-next-btn"
                                                        type="button" data-id="tasks" data-requires="industry">
                                                        Далее
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal__quiz-layer" data-id="tasks">
                <div class="modal__inner modal__inner--quiz">

                    <button class="modal__close js-close-modal">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>

                    <div class="modal__content modal__content--quiz">

                        <div class="modal__quiz-slider">
                            <div class="modal__quiz-slider-top-row">
                                <h3 class="modal__quiz-heading">
                                    Ответь несколько вопросов
                                </h3>
                                <div class="modal__quiz-pagination">
                                    2/4
                                </div>
                            </div>
                            <div class="modal__quiz-slider-progress" style="--progress: 0.5;">

                            </div>
                            <div class="modal__quiz-slider-wrapper">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="modal__quiz-slider-step">
                                                <h4 class="modal__quiz-slider-step-heading">
                                                    Какие задачи вы хотите решить?
                                                </h4>
                                                <div class="modal__quiz-slider-checkboxes">
                                                    <label class="modal__quiz-slider-checkbox">
                                                        <input type="radio" name="task" value="development"
                                                            class="modal__quiz-slider-checkbox-input">
                                                        <span class="modal__quiz-slider-checkbox-content">
                                                            <span class="modal__quiz-slider-checkbox-number">
                                                                01
                                                            </span>
                                                            <span class="modal__quiz-slider-checkbox-text">
                                                                Разработка сайта
                                                            </span>
                                                        </span>

                                                    </label>
                                                    <label class="modal__quiz-slider-checkbox">
                                                        <input type="radio" name="task" value="marketing"
                                                            class="modal__quiz-slider-checkbox-input">
                                                        <span class="modal__quiz-slider-checkbox-content">
                                                            <span class="modal__quiz-slider-checkbox-number">
                                                                02
                                                            </span>
                                                            <span class="modal__quiz-slider-checkbox-text">
                                                                Настройка рекламы на сайт/лендинг
                                                            </span>
                                                        </span>

                                                    </label>
                                                    <label class="modal__quiz-slider-checkbox">
                                                        <input type="radio" name="task" value="landing"
                                                            class="modal__quiz-slider-checkbox-input">
                                                        <span class="modal__quiz-slider-checkbox-content">
                                                            <span class="modal__quiz-slider-checkbox-number">
                                                                03
                                                            </span>
                                                            <span class="modal__quiz-slider-checkbox-text">
                                                                Разработка сайта или лендинга + Комплексный маркетинг
                                                            </span>
                                                        </span>

                                                    </label>
                                                    <label class="modal__quiz-slider-checkbox">
                                                        <input type="radio" name="task" value="smm"
                                                            class="modal__quiz-slider-checkbox-input">
                                                        <span class="modal__quiz-slider-checkbox-content">
                                                            <span class="modal__quiz-slider-checkbox-number">
                                                                04
                                                            </span>
                                                            <span class="modal__quiz-slider-checkbox-text">
                                                                Ведение аккаунтов в соц.сетям (SMM)
                                                            </span>
                                                        </span>

                                                    </label>
                                                </div>
                                                <div class="modal__quiz-slider-buttons">
                                                    <button class="modal__quiz-back-btn js-quiz-prev-btn" type="button"
                                                        data-id="start">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-slider-arrow-left">
                                                            <use xlink:href="#slider-arrow-left"></use>
                                                        </svg>
                                                        Назад
                                                    </button>

                                                    <button class="modal__quiz-slider-button js-quiz-next-btn"
                                                        type="button" data-requires="task" data-derive-id-from="task">
                                                        Далее
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal__quiz-layer" data-id="development">
                <div class="modal__inner modal__inner--quiz">

                    <button class="modal__close js-close-modal">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>

                    <div class="modal__content modal__content--quiz">

                        <div class="modal__quiz-slider">
                            <div class="modal__quiz-slider-top-row">
                                <h3 class="modal__quiz-heading">
                                    Ответь несколько вопросов
                                </h3>
                                <div class="modal__quiz-pagination">
                                    3/4
                                </div>
                            </div>
                            <div class="modal__quiz-slider-progress" style="--progress: 0.75;">

                            </div>
                            <div class="modal__quiz-slider-wrapper">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="modal__quiz-slider-step">
                                                <h4 class="modal__quiz-slider-step-heading">
                                                    Есть ли текущий сайт или лендинг?
                                                </h4>
                                                <div class="modal__quiz-slider-checkboxes">
                                                    <label class="modal__quiz-slider-checkbox">
                                                        <input type="radio" name="devgoal" value="update"
                                                            class="modal__quiz-slider-checkbox-input">
                                                        <span class="modal__quiz-slider-checkbox-content">
                                                            <span class="modal__quiz-slider-checkbox-number">
                                                                01
                                                            </span>
                                                            <span class="modal__quiz-slider-checkbox-text">
                                                                Обновление текущего сайта
                                                            </span>
                                                        </span>

                                                    </label>
                                                    <label class="modal__quiz-slider-checkbox">
                                                        <input type="radio" name="devgoal" value="no"
                                                            class="modal__quiz-slider-checkbox-input">
                                                        <span class="modal__quiz-slider-checkbox-content">
                                                            <span class="modal__quiz-slider-checkbox-number">
                                                                02
                                                            </span>
                                                            <span class="modal__quiz-slider-checkbox-text">
                                                                Нет
                                                            </span>
                                                        </span>

                                                    </label>
                                                    <label class="modal__quiz-slider-checkbox">
                                                        <input type="radio" name="devgoal" value="audit"
                                                            class="modal__quiz-slider-checkbox-input">
                                                        <span class="modal__quiz-slider-checkbox-content">
                                                            <span class="modal__quiz-slider-checkbox-number">
                                                                03
                                                            </span>
                                                            <span class="modal__quiz-slider-checkbox-text">
                                                                Необходим аудит текущей разработки
                                                            </span>
                                                        </span>

                                                    </label>

                                                </div>
                                                <div class="modal__quiz-slider-buttons">
                                                    <button class="modal__quiz-back-btn js-quiz-prev-btn" type="button"
                                                        data-id="tasks">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-slider-arrow-left">
                                                            <use xlink:href="#slider-arrow-left"></use>
                                                        </svg>
                                                        Назад
                                                    </button>

                                                    <button class="modal__quiz-slider-button js-quiz-next-btn"
                                                        type="button" data-requires="devgoal" data-id="final">
                                                        Далее
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal__quiz-layer" data-id="marketing, landing, smm">
                <div class="modal__inner modal__inner--quiz">

                    <button class="modal__close js-close-modal">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>

                    <div class="modal__content modal__content--quiz">

                        <div class="modal__quiz-slider">
                            <div class="modal__quiz-slider-top-row">
                                <h3 class="modal__quiz-heading">
                                    Ответь несколько вопросов
                                </h3>
                                <div class="modal__quiz-pagination">
                                    3/4
                                </div>
                            </div>
                            <div class="modal__quiz-slider-progress" style="--progress: 0.75;">

                            </div>
                            <div class="modal__quiz-slider-wrapper">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="modal__quiz-slider-step">
                                                <h4 class="modal__quiz-slider-step-heading">
                                                    Есть ли текущий сайт или лендинг?
                                                </h4>
                                                <div class="modal__quiz-slider-checkboxes">
                                                    <label class="modal__quiz-slider-checkbox">
                                                        <input type="radio" name="existing" value="haswebsite"
                                                            class="modal__quiz-slider-checkbox-input">
                                                        <span class="modal__quiz-slider-checkbox-content">
                                                            <span class="modal__quiz-slider-checkbox-number">
                                                                01
                                                            </span>
                                                            <span class="modal__quiz-slider-checkbox-text">
                                                                Да
                                                            </span>
                                                        </span>

                                                    </label>
                                                    <label class="modal__quiz-slider-checkbox">
                                                        <input type="radio" name="existing" value="nowebsite"
                                                            class="modal__quiz-slider-checkbox-input">
                                                        <span class="modal__quiz-slider-checkbox-content">
                                                            <span class="modal__quiz-slider-checkbox-number">
                                                                02
                                                            </span>
                                                            <span class="modal__quiz-slider-checkbox-text">
                                                                Нет
                                                            </span>
                                                        </span>

                                                    </label>


                                                </div>
                                                <div class="modal__quiz-slider-buttons">
                                                    <button class="modal__quiz-back-btn js-quiz-prev-btn" type="button"
                                                        data-id="development">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-slider-arrow-left">
                                                            <use xlink:href="#slider-arrow-left"></use>
                                                        </svg>
                                                        Назад
                                                    </button>

                                                    <button class="modal__quiz-slider-button js-quiz-next-btn"
                                                        type="button" data-requires="existing"
                                                        data-derive-id-from="existing">
                                                        Далее
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="modal__quiz-layer" data-id="haswebsite">
                <div class="modal__inner modal__inner--quiz">

                    <button class="modal__close js-close-modal">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>

                    <div class="modal__content modal__content--quiz">

                        <div class="modal__quiz-slider">
                            <div class="modal__quiz-slider-top-row">
                                <h3 class="modal__quiz-heading">
                                    Ответь несколько вопросов
                                </h3>
                                <div class="modal__quiz-pagination">
                                    4/7
                                </div>
                            </div>
                            <div class="modal__quiz-slider-progress" style="--progress: 0.57;">

                            </div>
                            <div class="modal__quiz-slider-wrapper">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="modal__quiz-slider-step">
                                                <h4 class="modal__quiz-slider-step-heading">
                                                    Оставьте ссылку на сайт
                                                </h4>
                                                <div class="modal__quiz-slider-input-wrapper">
                                                    <textarea name="siteurl" class="modal__quiz-textarea"
                                                        placeholder="Укажите ссылку"></textarea>
                                                </div>
                                                <div class="modal__quiz-slider-buttons">
                                                    <button class="modal__quiz-back-btn js-quiz-prev-btn" type="button"
                                                        data-id="tasks">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-slider-arrow-left">
                                                            <use xlink:href="#slider-arrow-left"></use>
                                                        </svg>
                                                        Назад
                                                    </button>
                                                    <button class="modal__quiz-slider-button js-quiz-next-btn"
                                                        type="button" data-id="nowebsite" data-requires="siteurl">
                                                        Далее
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="modal__quiz-layer" data-id="nowebsite">
                <div class="modal__inner modal__inner--quiz">

                    <button class="modal__close js-close-modal">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>

                    <div class="modal__content modal__content--quiz">

                        <div class="modal__quiz-slider">
                            <div class="modal__quiz-slider-top-row">
                                <h3 class="modal__quiz-heading">
                                    Ответь несколько вопросов
                                </h3>
                                <div class="modal__quiz-pagination">
                                    5/7
                                </div>
                            </div>
                            <div class="modal__quiz-slider-progress" style="--progress: 0.71;">

                            </div>
                            <div class="modal__quiz-slider-wrapper">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="modal__quiz-slider-step">
                                                <h4 class="modal__quiz-slider-step-heading">
                                                    Запускали вы ранее рекламу?
                                                </h4>
                                                <div class="modal__quiz-slider-checkboxes">
                                                    <label class="modal__quiz-slider-checkbox">
                                                        <input type="radio" name="experience" value="launched"
                                                            class="modal__quiz-slider-checkbox-input">
                                                        <span class="modal__quiz-slider-checkbox-content">
                                                            <span class="modal__quiz-slider-checkbox-number">
                                                                01
                                                            </span>
                                                            <span class="modal__quiz-slider-checkbox-text">
                                                                Да
                                                            </span>
                                                        </span>

                                                    </label>
                                                    <label class="modal__quiz-slider-checkbox">
                                                        <input type="radio" name="experience" value="notlaunched"
                                                            class="modal__quiz-slider-checkbox-input">
                                                        <span class="modal__quiz-slider-checkbox-content">
                                                            <span class="modal__quiz-slider-checkbox-number">
                                                                02
                                                            </span>
                                                            <span class="modal__quiz-slider-checkbox-text">
                                                                Нет
                                                            </span>
                                                        </span>

                                                    </label>
                                            
                                                </div>
                                                <div class="modal__quiz-slider-buttons">
                                                    <button class="modal__quiz-back-btn js-quiz-prev-btn" type="button"
                                                        data-id="marketing">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-slider-arrow-left">
                                                            <use xlink:href="#slider-arrow-left"></use>
                                                        </svg>
                                                        Назад
                                                    </button>

                                                    <button class="modal__quiz-slider-button js-quiz-next-btn"
                                                        type="button" data-requires="experience" data-derive-id-from="experience">
                                                        Далее
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal__quiz-layer" data-id="launched">
                <div class="modal__inner modal__inner--quiz">

                    <button class="modal__close js-close-modal">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>

                    <div class="modal__content modal__content--quiz">

                        <div class="modal__quiz-slider">
                            <div class="modal__quiz-slider-top-row">
                                <h3 class="modal__quiz-heading">
                                    Ответь несколько вопросов
                                </h3>
                                <div class="modal__quiz-pagination">
                                    6/7
                                </div>
                            </div>
                            <div class="modal__quiz-slider-progress" style="--progress: 0.85;">

                            </div>
                            <div class="modal__quiz-slider-wrapper">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="modal__quiz-slider-step">
                                                <h4 class="modal__quiz-slider-step-heading">
                                                    В каких источниках?
                                                    <div class="modal__quiz-slider-step-heading-remark">
                                                        Можете выбрать несколько ответов
                                                    </div>
                                                </h4>
                                                <div class="modal__quiz-slider-checkboxes">
                                                    <label class="modal__quiz-slider-checkbox">
                                                        <input type="checkbox" name="source" value="facebookinstagram"
                                                            class="modal__quiz-slider-checkbox-input">
                                                        <span class="modal__quiz-slider-checkbox-content">
                                                            <span class="modal__quiz-slider-checkbox-number">
                                                                01
                                                            </span>
                                                            <span class="modal__quiz-slider-checkbox-text">
                                                                Facebook/Instagram
                                                            </span>
                                                        </span>

                                                    </label>
                                                    <label class="modal__quiz-slider-checkbox">
                                                        <input type="checkbox" name="source" value="vkontakte"
                                                            class="modal__quiz-slider-checkbox-input">
                                                        <span class="modal__quiz-slider-checkbox-content">
                                                            <span class="modal__quiz-slider-checkbox-number">
                                                                02
                                                            </span>
                                                            <span class="modal__quiz-slider-checkbox-text">
                                                                Вконтакте
                                                            </span>
                                                        </span>

                                                    </label>
                                                    <label class="modal__quiz-slider-checkbox">
                                                        <input type="checkbox" name="source" value="googleyandex"
                                                            class="modal__quiz-slider-checkbox-input">
                                                        <span class="modal__quiz-slider-checkbox-content">
                                                            <span class="modal__quiz-slider-checkbox-number">
                                                                03
                                                            </span>
                                                            <span class="modal__quiz-slider-checkbox-text">
                                                                Контекстная реклама (Google, Яндекс)
                                                            </span>
                                                        </span>

                                                    </label>
                                                    <label class="modal__quiz-slider-checkbox">
                                                        <input type="checkbox" name="source" value="other"
                                                            class="modal__quiz-slider-checkbox-input">
                                                        <span class="modal__quiz-slider-checkbox-content">
                                                            <span class="modal__quiz-slider-checkbox-number">
                                                                04
                                                            </span>
                                                            <span class="modal__quiz-slider-checkbox-text">
                                                                Другая реклама (блоггеры, TikTok, MyTarget, тизеры и т.д.)
                                                            </span>
                                                        </span>

                                                    </label>

                                            
                                                </div>
                                                <div class="modal__quiz-slider-buttons">
                                                    <button class="modal__quiz-back-btn js-quiz-prev-btn" type="button"
                                                        data-id="nowebsite">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-slider-arrow-left">
                                                            <use xlink:href="#slider-arrow-left"></use>
                                                        </svg>
                                                        Назад
                                                    </button>

                                                    <button class="modal__quiz-slider-button js-quiz-next-btn"
                                                        type="button" data-requires="source" data-id="final">
                                                        Далее
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal__quiz-layer" data-id="final, notlaunched">
                <div class="modal__inner modal__inner--callback">
                    <button class="modal__close js-close-modal">
                        <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                    <div class="modal__content modal__content--callback">
                        <h3 class="modal__heading">
                            Консультация
                        </h3>
                        <div class="modal__heading-text">
                            <p>
                                Оставьте ваши контакты, и мы с вами побалакаем
                            </p>
                        </div>
                        <div class="modal__form">
                            <div class="modal__input-wrapper">
                                <input type="text" name="name" class="modal__input" required="" placeholder="Имя">
                            </div>
                            <div class="modal__input-wrapper">
                                <input type="tel" name="phone" class="modal__input js-phone-input" required=""
                                    data-parsley-phone="" placeholder="Телефон">
                            </div>
                            <div class="modal__input-wrapper">
                                <input type="email" name="email" class="modal__input js-phone-input" required=""
                                    placeholder="Email">
                            </div>
                            <div class="modal__checkbox-wrapper">
                                <label class="modal__checkbox">
                                    <input type="checkbox" name="policy" value="1" class="modal__checkbox-input" checked
                                        required>
                                    <span class="modal__checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkbox-mark">
                                            <use xlink:href="#checkbox-mark"></use>
                                        </svg>
                                    </span>
                                    <span class="modal__checkbox-text">
                                        Я согласен с политикой конфиденциальности
                                    </span>
                                </label>
                            </div>
                            <button type="submit" class="modal__submit" type="submit">
                                Оставить заявку
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal js-modal" id="callback-modal">
    <div class="modal__inner modal__inner--callback">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <div class="modal__content modal__content--callback">
            <h3 class="modal__heading">
                Готовы с вами общаться!
            </h3>
            <div class="modal__heading-text">
                <p>
                    Оставьте ваш телефон, и мы ответим на все ваши вопросы
                </p>
            </div>
            <form action="/" method="POST" class="modal__form" data-need-validation="" id="callback-form">
                <div class="modal__input-wrapper">
                    <input type="text" name="name" class="modal__input" required="" placeholder="Имя">
                </div>
                <div class="modal__input-wrapper">
                    <input type="tel" class="modal__input js-phone-input" required="" data-parsley-phone=""
                        placeholder="Телефон">
                </div>
                <div class="modal__checkbox-wrapper">


                    <label class="modal__checkbox">
                        <input type="checkbox" name="policy" value="1" class="modal__checkbox-input" checked required>
                        <span class="modal__checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true" class="icon-checkbox-mark">
                                <use xlink:href="#checkbox-mark"></use>
                            </svg>
                        </span>
                        <span class="modal__checkbox-text">
                            Я согласен с политикой конфиденциальности
                        </span>
                    </label>
                </div>
                <button type="submit" class="modal__submit" type="submit">
                    Оставить заявку
                </button>

            </form>
        </div>
    </div>
</div>
<div class="modal js-modal" id="audit-modal">
    <div class="modal__inner modal__inner--callback">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <div class="modal__content modal__content--callback">
            <h3 class="modal__heading">
                Записаться на аудит
            </h3>
            <div class="modal__heading-text">
                <p>
                    Оставьте ваши контакты, и мы с вами побалакаем
                </p>
            </div>
            <form action="/" method="POST" class="modal__form" data-need-validation="" id="audit-form">
                <div class="modal__input-wrapper">
                    <input type="text" name="name" class="modal__input" required="" placeholder="Имя">
                </div>
                <div class="modal__input-wrapper">
                    <input type="tel" name="phone" class="modal__input js-phone-input" required="" data-parsley-phone=""
                        placeholder="Телефон">
                </div>
                <div class="modal__input-wrapper">
                    <input type="email" name="email" class="modal__input js-phone-input" required=""
                        placeholder="Email">
                </div>
                <div class="modal__checkbox-wrapper">


                    <label class="modal__checkbox">
                        <input type="checkbox" name="policy" value="1" class="modal__checkbox-input" checked required>
                        <span class="modal__checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true" class="icon-checkbox-mark">
                                <use xlink:href="#checkbox-mark"></use>
                            </svg>
                        </span>
                        <span class="modal__checkbox-text">
                            Я согласен с политикой конфиденциальности
                        </span>
                    </label>
                </div>
                <button type="submit" class="modal__submit" type="submit">
                    Оставить заявку
                </button>

            </form>
        </div>
    </div>
</div>
<div class="modal js-modal" id="zoom-modal">
    <div class="modal__inner modal__inner--callback">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <div class="modal__content modal__content--callback">
            <h3 class="modal__heading">
                Давайте познакомимся
            </h3>
            <div class="modal__heading-text">
                <p>
                    Оставьте ваши контакты, и мы с вами побалакаем
                </p>
            </div>
            <form action="/" method="POST" class="modal__form" data-need-validation="" id="zoom-form">
                <div class="modal__input-wrapper">
                    <input type="text" name="name" class="modal__input" required="" placeholder="Имя">
                </div>
                <div class="modal__input-wrapper">
                    <input type="tel" name="phone" class="modal__input js-phone-input" required="" data-parsley-phone=""
                        placeholder="Телефон">
                </div>
                <div class="modal__input-wrapper">
                    <input type="text" name="datetime" class="modal__input" required=""
                        placeholder="Удобная дата и время">
                </div>
                <div class="modal__checkbox-wrapper">


                    <label class="modal__checkbox">
                        <input type="checkbox" name="policy" value="1" class="modal__checkbox-input" checked required>
                        <span class="modal__checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true" class="icon-checkbox-mark">
                                <use xlink:href="#checkbox-mark"></use>
                            </svg>
                        </span>
                        <span class="modal__checkbox-text">
                            Я согласен с политикой конфиденциальности
                        </span>
                    </label>
                </div>
                <button type="submit" class="modal__submit" type="submit">
                    Оставить заявку
                </button>

            </form>
        </div>
    </div>
</div>


<div class="modal js-modal" id="callback-modal-success">
    <div class="modal__inner modal__inner--callback">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <div class="modal__content modal__content--callback">
            <h3 class="modal__heading">
                Спасибо за вашу<br> заявку
                <svg width="14" height="14" aria-hidden="true" class="icon-stars">
                    <use xlink:href="#stars"></use>
                </svg>
            </h3>
            <div class="modal__heading-text">
                <p>
                    Наш менджер свяжется с вами в течении 30 минут и ответит на все ваши вопросы
                </p>
            </div>

        </div>
    </div>
</div>
<div class="modal js-modal" id="zoom-modal-success">
    <div class="modal__inner modal__inner--callback">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <div class="modal__content modal__content--callback">
            <h3 class="modal__heading">
                Спасибо за вашу<br> заявку
                <svg width="14" height="14" aria-hidden="true" class="icon-stars">
                    <use xlink:href="#stars"></use>
                </svg>
            </h3>
            <div class="modal__heading-text">
                <p>
                    Наш менджер свяжется с вами в течении 30 минути назначит ZOOM конференцию в удобное для вас время!
                </p>
            </div>

        </div>
    </div>
</div>