<div class="modal js-modal" id="case-modal">
    <div class="modal__inner">

        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <div class="modal__content">


            <h3 class="modal__heading">
                Небольшое или длинное название кейса в две строчки или больше
            </h3>
            <div class="modal__slider js-modal-slider">
                <button class="modal__slider-button modal__slider-button--prev" type="button">
                    <svg width="14" height="14" aria-hidden="true" class="icon-thin-slider-arrow-left">
                        <use xlink:href="#thin-slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="modal__slider-button modal__slider-button--next" type="button">
                    <svg width="14" height="14" aria-hidden="true" class="icon-thin-slider-arrow-right">
                        <use xlink:href="#thin-slider-arrow-right"></use>
                    </svg>
                </button>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="modal__slider-card">
                                <div class="modal__slider-card-image-container">
                                    <img src="img/modals/1.jpg" alt="" class="modal__slider-card-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="modal__slider-card">
                                <div class="modal__slider-card-image-container">
                                    <img src="img/modals/2.jpg" alt="" class="modal__slider-card-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="modal__slider-card">
                                <div class="modal__slider-card-image-container">
                                    <img src="img/modals/3.jpg" alt="" class="modal__slider-card-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="modal__slider-card">
                                <div class="modal__slider-card-image-container">
                                    <img src="img/modals/4.jpg" alt="" class="modal__slider-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal__row">
                <div class="modal__main">
                    <div class="modal__content-blocks">


                        <div class="modal__content-block">
                            <h4 class="modal__content-block-heading">
                                Описание кейса
                            </h4>
                            <div class="modal__content-block-text">
                                <p>
                                    Позиционирование на рынке специфицирует нестандартный подход. Изменение глобальной
                                    стратегии
                                    как всегда непредсказуемо. Позиционирование на рынке специфицирует нестандартный
                                    подход.
                                    Изменение глобальной стратегии как всегда непредсказуемо.
                                </p>
                            </div>
                        </div>
                        <div class="modal__content-block">
                            <h4 class="modal__content-block-heading">
                                Проблема
                            </h4>
                            <div class="modal__content-block-text">
                                <p>
                                    Комплексный анализ ситуации, следовательно, позиционирует сублимированный
                                    департамент
                                    маркетинга и продаж.
                                </p>
                            </div>
                        </div>
                        <div class="modal__content-block">
                            <h4 class="modal__content-block-heading">
                                Решение
                            </h4>
                            <div class="modal__content-block-text">
                                <p>
                                    Комплексный анализ ситуации, следовательно, позиционирует сублимированный
                                    департамент
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal__buttons">
                        <a href="#" class="modal__more-btn">
                            Рассказать подробнее
                        </a>
                        <div class="modal__more-btn-text">
                            <p>
                                Менеджер проекта — Константин свяжется с вами, чтобы больше рассказать о проекте
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal__sidebar">
                    <div class="modal__sidebar-text">
                        <p>
                            Аудит и аналитика, контекстная реклама Google & Yandex, веб&#8209;разработка и приложения
                        </p>
                    </div>
                    <div class="modal__manager">
                        <h4 class="modal__manager-heading">
                            Менеджер проекта
                        </h4>
                        <div class="modal__manager-card">
                            <div class="modal__manager-card-photo-container">
                                <img src="img/manager.jpg" alt="" class="modal__manager-card-photo">
                            </div>
                            <div class="modal__manager-card-content">
                                <div class="modal__manager-card-name">
                                    Петр Яковлев
                                </div>
                                <div class="modal__manager-card-role">
                                    Таргетолог
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>