{{#extend "layout"}}
{{#content "main"}}


<section class="case-header">
    <div class="case-header__bg">
        <img src="img/case-header.jpg" alt="" class="case-header__bg-image">
    </div>
    <div class="container">
        <div class="case-header__row">
            <a href="#" class="case-header__back">
                <svg width="14" height="14" aria-hidden="true" class="icon-back">
                    <use xlink:href="#back"></use>
                </svg>
                назад
            </a>
            <div class="case-header__content">
                <div class="case-header__text-content">
                    <h1 class="case-header__main-heading">
                        Скупыч. Скупка и продажа оборудования
                    </h1>
                    <div class="case-header__text">
                        <p>
                            Как post-view может изменить представления о медийке
                        </p>
                    </div>
                </div>
                <ul class="case-header__achievements-list">
                    <li class="case-header__achivements-list-item">
                        <div class="case-header__achivements-card">
                            <div class="case-header__achivements-card-amount">
                                + 452
                            </div>
                            <div class="case-header__achivements-card-text">
                                запроса в ТОП поисковых систем
                            </div>
                        </div>
                    </li>
                    <li class="case-header__achivements-list-item">
                        <div class="case-header__achivements-card">
                            <div class="case-header__achivements-card-amount">
                                + 1 213
                            </div>
                            <div class="case-header__achivements-card-text">
                                визитов в месяц на сайте
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="case-info">
    <div class="container">
        <div class="case-info__content">
            <ul class="case-info__list">
                <li class="case-info__list-item">
                    <div class="case-info__card">
                        <h4 class="case-info__card-title">
                            клиент
                        </h4>
                        <div class="case-info__card-desc">
                            <p>
                                Скупыч. Скупка и продажа оборудования
                            </p>
                        </div>
                    </div>
                </li>
                <li class="case-info__list-item">
                    <div class="case-info__card">
                        <h4 class="case-info__card-title">
                            Канал
                        </h4>
                        <div class="case-info__card-desc">
                            <p>
                                Контекстная реклама
                            </p>
                        </div>
                    </div>
                </li>
                <li class="case-info__list-item">
                    <div class="case-info__card">
                        <h4 class="case-info__card-title">
                            задача
                        </h4>
                        <div class="case-info__card-desc">
                            <p>
                                Реализовать комплекс работ по привлечению заявок с интернета
                            </p>
                        </div>
                    </div>
                </li>
                <li class="case-info__list-item">
                    <div class="case-info__card">
                        <h4 class="case-info__card-title">
                            технологии
                        </h4>
                        <div class="case-info__card-desc">
                            <p>
                                Google Adwords и Яндекс Директ
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="case-result">
    <div class="case-result__bg">
        <img src="img/case-result-gradient.svg" alt="" class="case-result__bg-image">
    </div>
    <div class="container">
        <div class="case-result__row">
            <div class="case-result__heading-wrapper">
                <h2 class="case-result__heading">
                    результат
                </h2>
            </div>
            <div class="case-result__text">
                <p>
                    Количество заявок в месяц: 30-50 (заказчик не успевал обрабатывать поток, поэтому часто ставил на
                    паузу рекламу) Стоимость заявки: ±250₽. Конверсия лендинга: 20%
                </p>
            </div>
        </div>
    </div>
</section>


<section class="case-problem">
    <div class="container">
        <div class="case-problem__content">
            <img src="img/lightning.svg" alt="" class="case-problem__image">
            <div class="case-problem__text-content">
                <h2>Проблема клиента</h2>
                <p>
                    Клиент работал на офлайн рынке и поставил задачу – реализовать комплекс работ по привлечению заявок
                    с интернета. Для него это был первый опыт
                </p>
                <h2>
                    Походы
                </h2>
                <ul>
                    <li>
                        Перейти с оплаты за конверсию на оплату за клики.
                    </li>
                    <li>
                        Подключить товарный фид со всеми продуктами в настройках кампании.
                    </li>
                    <li>
                        Перейти с атрибуции «по последнему клику» на data driven-атрибуцию.
                    </li>
                    <li>
                        Установить дневной бюджет в кампании минимум на 20% выше наибольшего дневного расхода за
                        последний месяц.
                    </li>
                </ul>
                <h2>
                    Итоги
                </h2>
                <p>
                    Клиент работал на офлайн рынке и поставил задачу – реализовать комплекс работ по привлечению заявок
                    с интернета. Для него это был первый опыт
                </p>
            </div>
            <div class="case-problem__achievements">
                <ul class="case-problem__achievements-list">
                    <li class="case-problem__achievements-list-item">
                        <div class="case-problem__achivements-card">
                            <div class="case-problem__achievements-card-title">
                                30-50
                            </div>
                            <div class="case-problem__achievements-card-text">
                                <p>
                                    заявко в месяц
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="case-problem__achievements-list-item">
                        <div class="case-problem__achivements-card">
                            <div class="case-problem__achievements-card-title">
                                ±250 ₽
                            </div>
                            <div class="case-problem__achievements-card-text">
                                <p>
                                    стоимость заявки
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="case-problem__achievements-list-item">
                        <div class="case-problem__achivements-card">
                            <div class="case-problem__achievements-card-title">
                                20%
                            </div>
                            <div class="case-problem__achievements-card-text">
                                <p>
                                    конверсия лендинга
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="case-problem__achievements-list-item">
                        <div class="case-problem__achivements-card">
                            <div class="case-problem__achievements-card-title">
                                В 3 РАЗА
                            </div>
                            <div class="case-problem__achievements-card-text">
                                <p>
                                    вырос доход компании
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="case-problem__contact">
                <div class="case-problem__contact-bg">
                    <img src="img/case-contact-bg.svg" alt="" class="case-problem__contact-bg-image">
                </div>
                <div class="case-problem__contact-row">
                    <div class="case-problem__contact-text-content">
                        <h2 class="case-problem__contact-heading">
                            Готовы с вами общаться!
                        </h2>
                        <div class="case-problem__contact-text">
                            <p>
                                Оставьте ваш телефон, и мы ответим на все ваши вопросы
                            </p>
                        </div>
                    </div>
                    <form action="/" method="POST" class="case-problem__contact-form" data-need-validation="" id="case-contact-form">
                        <div class="case-problem__contact-form-fields">
                            <div class="case-problem__contact-form-field">
                                <input type="text" class="case-problem__contact-form-input" name="name" required=""
                                    placeholder="Имя">
                            </div>
                            <div class="case-problem__contact-form-field">
                                <input type="tel" class="case-problem__contact-form-input js-phone-input" name="phone"
                                    required="" placeholder="Телефон" data-parsley-phone="">
                            </div>

                        </div>
                        <div class="case-problem__contact-form-checkbox-wrapper">
                            <label class="case-problem__contact-form-checkbox">
                                <input type="checkbox" name="policy" value="1"
                                    class="case-problem__contact-form-checkbox-input" checked required>
                                <span class="case-problem__contact-form-checkbox-mark">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkbox-mark">
                                        <use xlink:href="#checkbox-mark"></use>
                                    </svg>
                                </span>
                                <span class="case-problem__contact-form-checkbox-text">
                                    Я согласен с политикой конфиденциальности
                                </span>
                            </label>
                        </div>
                        <button type="submit" class="case-problem__contact-form-submit" type="submit">
                            Оставить заявку
                        </button>
                    </form>
                </div>
            </div>
            <a href="#" class="case-problem__back-to-portfolio">
                Вернуться к портфолио
            </a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}