{{#extend "layout"}}
{{#content "main"}}


<section class="case-header case-header--simple case-header--dark">

    <div class="container">
        <div class="case-header__row">
            <a href="#" class="case-header__back">
                <svg width="14" height="14" aria-hidden="true" class="icon-back">
                    <use xlink:href="#back"></use>
                </svg>
                назад
            </a>
            <div class="case-header__content">
                <div class="case-header__text-content">
                    <h1 class="case-header__main-heading">
                        Сайт завода по&nbsp;производству микрофибры&nbsp;«Бикотекс»
                    </h1>

                </div>

            </div>
        </div>
    </div>
</section>


<section class="case-image">
    <div class="container">
        <div class="case-image__content">
            <a href="#" class="case-image__link">
                bicotex.ru
            </a>
            <img src="img/case-orange.svg" alt="" class="case-image__picture">
        </div>
    </div>
</section>


<section class="case-goal">
    <div class="container">
        <div class="case-goal__content">
            <div class="case-goal__text-content">
                <h2 class="case-goal__heading">
                    Задача
                </h2>
                <div class="case-goal__desc">
                    <p>
                        Реализовать комплекс работ по привлечению заявок с интернета
                    </p>
                </div>
            </div>
            <div class="case-goal__large-text">
                <p>
                    Bicotex – это первый в России завод полного цикла по производству микрофибры. Производит нити,
                    ткании готовые изделия для разных категорий рынка FMCG
                </p>
            </div>
        </div>
    </div>
</section>

<section class="case-image">
    <div class="container">
        <div class="case-image__content">
            <img src="img/case-large-image.jpg" alt="" class="case-image__picture">
        </div>
    </div>
</section>

<section class="case-goal">
    <div class="container">
        <div class="case-goal__content">

            <div class="case-goal__large-text">
                <p>
                    Небольшой или большой абзац текста. Небольшой абзац текста. Небольшой абзац текста.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="case-images">
    <div class="container">
        <div class="case-images__content">
            <img src="img/case-images-1.jpg" alt="" class="case-images__image">
            <img src="img/case-images-2.jpg" alt="" class="case-images__image">
        </div>
    </div>
</section>


<section class="case-concept">
    <div class="container">
        <div class="case-concept__content">
            <h2 class="case-concept__heading">
                концепция
            </h2>
            <div class="case-concept__text">
                <p>
                    Может быть текст про концепцию, про их ниточки и все такое
                </p>
            </div>
            <div class="case-concept__images">
                <div class="case-concept__images-col">
                    <img src="img/case-concept-1.jpg" alt="" class="case-concept__image">
                </div>
                <div class="case-concept__images-col">
                    <img src="img/case-concept-2.jpg" alt="" class="case-concept__image">
                    <div class="case-concept__image-desc">
                        <p>
                            Может быть текст про концепцию, про их ниточки и все такое
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="case-quote no-margin">
    <div class="container">
        <div class="case-quote__content">
            <div class="case-quote__text">
                Сайт выгядит современно и легко! Полный восторг от работы с ребятами! Все классно, и все такое
            </div>
            <div class="case-quote__author">
                <div class="case-quote__author-name">
                    Мария Иванова
                </div>
                <div class="case-quote__author-role">
                    Руководитель маркетингого отдела Бикотекс
                </div>
            </div>
        </div>
    </div>
</section>


<section class="case-fullwidth no-margin">
    <img data-src="img/case-fullwidth-image.jpg" alt="" class="case-fullwidth__image lazyload">
</section>

<section class="case-meta">
    <div class="container">
        <div class="case-meta__content">
            <div class="case-meta__item">
                <h3 class="case-meta__item-title">
                    заказчик
                </h3>
                <div class="case-meta__item-text">
                    ООО «Бикотекс»
                </div>
            </div>
            <div class="case-meta__item">
                <h3 class="case-meta__item-title">
                    Дата запуска
                </h3>
                <div class="case-meta__item-text">
                    01.01.2022
                </div>
            </div>
        </div>
    </div>
</section>

<a href="#" class="case-next">
    <div class="case-next__bg">
        <img src="img/case-next.jpg" alt="" class="case-next__bg-image">
    </div>
    <div class="container">
        <div class="case-next__content">
            <h2 class="case-next__heading">
                следующий кейс
            </h2>
            <div class="case-next__row">
                <h3 class="case-next__title">
                    Сайт для выдачи займов «Money Help»
                </h3>
            </div>

        </div>
    </div>
</a>

{{/content}}
{{/extend}}