{{#extend "layout"}}
{{#content "main"}}


<section class="portfolio-header">
    <div class="portfolio-header__bg">
        <img src="img/portfolio-header-bg.svg" alt="" class="portfolio-header__bg-image">
    </div>
    <div class="container">
        <div class="portfolio-header__row">
            <h1 class="portfolio-header__heading">
                Контакты
            </h1>
            <div class="portfolio-header__text">
                <p>
                    Позиционирование на рынке специфицирует нестандартный подход. Изменение глобальной стратегии как
                    всегда непредсказуемо.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="contacts-team">
    <div class="container">
        <div class="contacts-team__content">
            <img src="img/contacts-team-star.svg" alt="" class="contacts-team__star">
            <ul class="contacts-team__list">
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img data-src="img/contacts-team/1.jpg" alt="" class="contacts-team__card-image lazyload">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Денис Кузин
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                Руководитель (сооснователь). Душа компании и переговорщик, всегда есть экшн истории из
                                жизни
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img data-src="img/contacts-team/2.jpg" alt="" class="contacts-team__card-image lazyload">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Андрей Ивакин
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                Директор по маркетингу (сооснователь). Любит рок, а теперь ходит в офис, общается с
                                клиентами из дома и иногда вылезает в офис
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img data-src="img/contacts-team/3.jpg" alt="" class="contacts-team__card-image lazyload">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Анастасия Якушева
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                SMM-специалист. Внимательно ведет проекты, прекрасно фотографирует, находит красоту в
                                деталях
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img data-src="img/contacts-team/4.jpg" alt="" class="contacts-team__card-image lazyload">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Алевтина Павлова
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                Специалист по таргету. Настроит его так, что заменит всю команду.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img data-src="img/contacts-team/1.jpg" alt="" class="contacts-team__card-image lazyload">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Денис Кузин
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                Руководитель (сооснователь). Душа компании и переговорщик, всегда есть экшн истории из
                                жизни
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img data-src="img/contacts-team/2.jpg" alt="" class="contacts-team__card-image lazyload">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Андрей Ивакин
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                Директор по маркетингу (сооснователь). Любит рок, а теперь ходит в офис, общается с
                                клиентами из дома и иногда вылезает в офис
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img data-src="img/contacts-team/3.jpg" alt="" class="contacts-team__card-image lazyload">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Анастасия Якушева
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                SMM-специалист. Внимательно ведет проекты, прекрасно фотографирует, находит красоту в
                                деталях
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img data-src="img/contacts-team/4.jpg" alt="" class="contacts-team__card-image lazyload">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Алевтина Павлова
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                Специалист по таргету. Настроит его так, что заменит всю команду.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>



{{/content}}
{{/extend}}