{{#extend "layout"}}
{{#content "main"}}


<section class="portfolio-header">
    <div class="portfolio-header__bg">
        <img src="img/portfolio-header-bg.svg" alt="" class="portfolio-header__bg-image">
    </div>
    <div class="container">
        <div class="portfolio-header__row">
            <h1 class="portfolio-header__heading">
                Контакты
            </h1>
            <div class="portfolio-header__text">
                <p>
                    Позиционирование на рынке специфицирует нестандартный подход. Изменение глобальной стратегии как
                    всегда непредсказуемо.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="contacts-links">
    <div class="container">
        <div class="contacts-links__content">
            <ul class="contacts-links__list">
                <li class="contacts-links__list-item">
                    <a href="#" class="contacts-links__card">
                        <svg width="14" height="14" aria-hidden="true" class="icon-contacts-link-1">
                            <use xlink:href="#contacts-link-1"></use>
                        </svg>
                        <div class="contacts-links__card-content">
                            <h3 class="contacts-links__card-title">
                                @aquilamedia_ru
                            </h3>
                            <div class="contacts-links__card-text">
                                <p>
                                    познакомится с нашей философией
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="contacts-links__list-item">
                    <a href="#" class="contacts-links__card">
                        <svg width="14" height="14" aria-hidden="true" class="icon-contacts-link-2">
                            <use xlink:href="#contacts-link-2"></use>
                        </svg>
                        <div class="contacts-links__card-content">
                            <h3 class="contacts-links__card-title">
                                телеграм студии
                            </h3>
                            <div class="contacts-links__card-text">
                                <p>
                                    реагируем быстро
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="contacts-links__list-item">
                    <a href="tel:89876543210" class="contacts-links__card">
                        <svg width="14" height="14" aria-hidden="true" class="icon-contacts-link-3">
                            <use xlink:href="#contacts-link-3"></use>
                        </svg>
                        <div class="contacts-links__card-content">
                            <h3 class="contacts-links__card-title">
                                8 987 654 32 10
                            </h3>
                            <div class="contacts-links__card-text">
                                <p>
                                    для живых разговоров
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="contacts-links__list-item">
                    <a href="#" class="contacts-links__card">
                        <svg width="14" height="14" aria-hidden="true" class="icon-contacts-link-4">
                            <use xlink:href="#contacts-link-4"></use>
                        </svg>
                        <div class="contacts-links__card-content">
                            <h3 class="contacts-links__card-title">
                                aquilasoft@gmail.com
                            </h3>
                            <div class="contacts-links__card-text">
                                <p>
                                    для официальных писем
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="contacts-team">
    <div class="container">
        <div class="contacts-team__content">
            <img src="img/contacts-team-star.svg" alt="" class="contacts-team__star">
            <ul class="contacts-team__list">
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img src="img/contacts-team/1.jpg" alt="" class="contacts-team__card-image">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Денис Кузин
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                Руководитель (сооснователь). Душа компании и переговорщик, всегда есть экшн истории из
                                жизни
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img src="img/contacts-team/2.jpg" alt="" class="contacts-team__card-image">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Андрей Ивакин
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                Директор по маркетингу (сооснователь). Любит рок, а теперь ходит в офис, общается с
                                клиентами из дома и иногда вылезает в офис
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img src="img/contacts-team/3.jpg" alt="" class="contacts-team__card-image">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Анастасия Якушева
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                SMM-специалист. Внимательно ведет проекты, прекрасно фотографирует, находит красоту в
                                деталях
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img src="img/contacts-team/4.jpg" alt="" class="contacts-team__card-image">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Алевтина Павлова
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                Специалист по таргету. Настроит его так, что заменит всю команду.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img src="img/contacts-team/1.jpg" alt="" class="contacts-team__card-image">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Денис Кузин
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                Руководитель (сооснователь). Душа компании и переговорщик, всегда есть экшн истории из
                                жизни
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img src="img/contacts-team/2.jpg" alt="" class="contacts-team__card-image">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Андрей Ивакин
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                Директор по маркетингу (сооснователь). Любит рок, а теперь ходит в офис, общается с
                                клиентами из дома и иногда вылезает в офис
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img src="img/contacts-team/3.jpg" alt="" class="contacts-team__card-image">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Анастасия Якушева
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                SMM-специалист. Внимательно ведет проекты, прекрасно фотографирует, находит красоту в
                                деталях
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts-team__list-item">
                    <div class="contacts-team__card">
                        <div class="contacts-team__card-image-container">
                            <img src="img/contacts-team/4.jpg" alt="" class="contacts-team__card-image">
                        </div>
                        <h3 class="contacts-team__card-title">
                            Алевтина Павлова
                        </h3>
                        <div class="contacts-team__card-text">
                            <p>
                                Специалист по таргету. Настроит его так, что заменит всю команду.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>



{{/content}}
{{/extend}}