{{#extend "layout"}}
{{#content "main"}}


<section class="intro js-intro">
    <div class="intro__bg">
        <svg width="1490" height="681" viewBox="0 0 1490 681" fill="none" xmlns="http://www.w3.org/2000/svg">

            <g class="orb">

                <g filter="url(#filter0_f)">
                    <path
                        d="M1033.16 215.566C1168.97 244.876 1274.46 199.159 1381.99 286.455C1630.91 488.551 1287.87 1050.29 961.041 1082.59C764.392 1102.03 642.068 1009.58 525.762 852.442C412.29 699.132 332.912 616.43 332.003 414.656C331.673 341.294 346.97 223.948 406.596 157.108C474.6 80.8772 545.788 21.2796 636.217 46.0928C729.312 71.6373 864.621 179.19 1033.16 215.566Z"
                        fill="#2564FF" />
                </g>
                <g opacity="0.5" filter="url(#filter1_f)">
                    <path
                        d="M979.934 508.678C1063.75 526.761 1153.57 436.324 1219.92 490.202C1373.54 614.933 1161.78 961.705 960.066 981.665C838.697 993.675 763.208 936.621 691.438 839.631C621.416 745.004 605.864 686.436 605.318 561.887C605.119 516.602 618.062 438.664 654.867 397.401C696.843 350.341 732.103 344.001 787.912 359.311C845.366 375.072 875.917 486.235 979.934 508.678Z"
                        fill="#08F7F7" />
                </g>

            </g>
            <defs>
                <filter id="filter0_f" x="-144" y="-402" width="1973.58" height="1902.3" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="125" result="effect1_foregroundBlur" />
                </filter>
                <filter id="filter1_f" x="271.812" y="49.3369" width="1253.35" height="1219.84"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="92" result="effect1_foregroundBlur" />
                </filter>
            </defs>
        </svg>
    </div>
    <div class="container">
        <div class="intro__content">
            <div class="intro__text-content">


                <h1 class="intro__main-heading">
                    Создаем Digital-продукты, используя лучшие тренды и опыт
                </h1>
                <div class="intro__text">
                    <p>
                        Учитываем бизнес-задачи и анализируем эффективность решений.
                    </p>
                </div>

            </div>

            <img src="img/large-spiral.svg" alt="" class="intro__image">
        </div>
    </div>
</section>

<section class="subscribe">
    <div class="container">
        <div class="subscribe__row">
            <img src="img/arrow-orbit.svg" alt="" class="subscribe__arrow">
            <div class="subscribe__content">
                <h2 class="subscribe__heading">
                    Запишитесь на 30-ти минутный ZOOM с маркетологом агентства
                </h2>
                <ul class="subscribe__features-list">
                    <li class="subscribe__features-list-item">
                        <div class="subscribe__features-card">
                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Мы проанализируем все источники трафика и текущий сайт
                        </div>
                    </li>
                    <li class="subscribe__features-list-item">
                        <div class="subscribe__features-card">
                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                            Вы получите трехмесячный план по развитию вашего бизнеса в интернете
                        </div>
                    </li>
                </ul>
            </div>
            <a href="#audit-modal" class="subscribe__link js-open-modal">
                Записаться<br> на аудит
            </a>
        </div>
    </div>
</section>


<section class="about" id="about">
    <div class="container">
        <div class="about__main">
            <div class="section-number">
                01
            </div>
            <div class="about__inner-row">
                <img src="img/about-illustration.svg" alt="" class="about__illustration">
                <div class="about__text-content">
                    <h2 class="about__heading">
                        Об агенстве
                    </h2>
                    <div class="about__heading-text">
                        <p>
                            В своей работе используем научный подход
                        </p>
                    </div>
                    <div class="about__text">
                        <p>
                            Профессионально реализовываем perfomance-маркетинг, опираясьна ключевые показатели
                            вашего бизнеса
                        </p>
                        <p>
                            Внедряем сквозную аналитику и работаем над всеми этапами воронки продаж
                        </p>
                    </div>
                </div>
            </div>
            <div class="about__achievements">
                <ul class="about__achievements-list">
                    <li class="about__achievements-list-item">
                        <a href="#" class="about__achievements-card">
                            <div class="about__achievements-card-number">
                                С 2014 года
                            </div>
                            <div class="about__achievements-card-content">
                                <div class="about__achievements-card-text">
                                    <p>
                                        помогаем расти бизнесу
                                    </p>
                                </div>
                                <div class="about__achievements-card-watch-text">
                                    Смотреть
                                </div>
                                <img src="img/achievements/1.svg" alt="" class="about__achievements-card-icon">
                            </div>

                        </a>
                    </li>
                    <li class="about__achievements-list-item">
                        <a href="#" class="about__achievements-card active">
                            <div class="about__achievements-card-number">
                                209 проектов
                            </div>
                            <div class="about__achievements-card-content">
                                <div class="about__achievements-card-text">
                                    <p>
                                        за 2020 год
                                    </p>
                                </div>
                                <div class="about__achievements-card-watch-text">
                                    Смотреть
                                </div>
                                <img src="img/achievements/2.svg" alt="" class="about__achievements-card-icon">
                            </div>

                        </a>
                    </li>
                    <li class="about__achievements-list-item">
                        <a href="#" class="about__achievements-card">
                            <div class="about__achievements-card-number">
                                5 специалистов
                            </div>
                            <div class="about__achievements-card-content">
                                <div class="about__achievements-card-text">
                                    <p>
                                        в среднем работает над каждым проектом
                                    </p>
                                </div>
                                <div class="about__achievements-card-watch-text">
                                    Смотреть
                                </div>
                                <img src="img/achievements/3.svg" alt="" class="about__achievements-card-icon">
                            </div>

                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>





<section class="cases">
    <div class="container">
        <div class="cases__content">
            <div class="section-number">
                02
            </div>

            <h2 class="cases__heading">
                Кейсы
            </h2>
            <ul class="cases__list">
                <li class="cases__list-item">
                    <a href="#" class="cases__card">
                        <img src="img/cases-2/1.webp" alt="" class="cases__card-image">
                        <h3 class="cases__card-title">
                            АО Авиакомпания «АЛРОСА»
                        </h3>
                        <div class="cases__card-category">
                            CEO
                        </div>
                    </a>
                </li>
                <li class="cases__list-item">
                    <a href="#" class="cases__card">
                        <img src="img/cases-2/2.webp" alt="" class="cases__card-image">
                        <h3 class="cases__card-title">
                            Завод по производству микрофибры «Бикотекс»
                        </h3>
                        <div class="cases__card-category">
                            Веб-разработка
                        </div>
                    </a>
                </li>
                <li class="cases__list-item">
                    <a href="#" class="cases__card">
                        <img src="img/cases-2/3.webp" alt="" class="cases__card-image">
                        <h3 class="cases__card-title">
                            Онлайн-школа веб-дизайна Максима Солдаткина
                        </h3>
                        <div class="cases__card-category">
                            Веб-разработка
                        </div>
                    </a>
                </li>


                <li class="cases__list-item">
                    <a href="#" class="cases__card">
                        <img src="img/cases-2/4.webp" alt="" class="cases__card-image">
                        <h3 class="cases__card-title">
                            Магазин одежды «Святая»
                        </h3>
                        <div class="cases__card-category">
                            Веб-разработка
                        </div>
                    </a>
                </li>
                <li class="cases__list-item">
                    <a href="#" class="cases__card">
                        <img src="img/cases-2/5.webp" alt="" class="cases__card-image">
                        <h3 class="cases__card-title">
                            Денежная помощь «Money Help»
                        </h3>
                        <div class="cases__card-category">
                            CEO
                        </div>
                    </a>
                </li>
                <li class="cases__list-item">
                    <a href="#" class="cases__card cases__card--white">
                        <img src="img/cases-2/portfolio.webp" alt="" class="cases__card-image cases__card-image--cover">
                        <h3 class="cases__card-title">
                            Более 100 проектов
                        </h3>
                        <div class="cases__card-portfolio">
                            Перейти в портфолио
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="services js-services" id="services">
    <div class="container">
        <div class="services__content">
            <div class="section-number section-number--blue services__section-number">
                03
            </div>
            <div class="services__top-row">
                <div class="services__col">
                    <h2 class="services__heading">
                        Услуги
                    </h2>
                    <div class="services__heading-text">
                        <p>
                            В&nbsp;море &laquo;лучших на&nbsp;рынке&raquo; не&nbsp;хватает надёжных. Мы&nbsp;&mdash; как
                            раз из&nbsp;таких.
                        </p>
                    </div>
                    <a href="#" class="services__link">
                        Узнать больше
                        <svg width="14" height="14" aria-hidden="true" class="icon-gradient-arrow">
                            <use xlink:href="#gradient-arrow"></use>
                        </svg>
                    </a>

                    <img src="img/services-arrow.svg" alt="" class="services__arrow">
                </div>
                <div class="services__col">
                    <ul class="services__list">
                        <li class="services__list-item">
                            <a href="#" class="services__card">
                                <img src="img/services-icons/1.svg" alt="" class="services__card-icon">
                                Аудит и аналитика
                            </a>
                        </li>
                        <li class="services__list-item">
                            <a href="#" class="services__card">
                                <img src="img/services-icons/2.svg" alt="" class="services__card-icon">
                                Таргетированная реклама
                            </a>
                        </li>
                        <li class="services__list-item">
                            <a href="#" class="services__card">
                                <img src="img/services-icons/3.svg" alt="" class="services__card-icon">
                                Контекстная реклама Google & Yandex
                            </a>
                        </li>
                        <li class="services__list-item">
                            <a href="#" class="services__card">
                                <img src="img/services-icons/4.svg" alt="" class="services__card-icon">
                                SEO
                            </a>
                        </li>
                        <li class="services__list-item">
                            <a href="#" class="services__card">
                                <img src="img/services-icons/5.svg" alt="" class="services__card-icon">
                                Разработка SMM стратегийи ведение соц.сетей
                            </a>
                        </li>
                        <li class="services__list-item">
                            <a href="#" class="services__card">
                                <img src="img/services-icons/6.svg" alt="" class="services__card-icon">
                                Аудит и построение отделов продаж
                            </a>
                        </li>
                        <li class="services__list-item">
                            <a href="#" class="services__card">
                                <img src="img/services-icons/7.svg" alt="" class="services__card-icon">
                                Веб-разработка и мобильные приложения
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="services__where-to-start">
                <div class="services__where-to-start-content">
                    <h4 class="services__where-to-start-title">
                        Не знаете с&nbsp;чего начать?
                    </h4>
                    <div class="services__where-to-start-text">
                        <p>
                            Пройдите небольшой квиз, чтобы определить подходящую услугу для вашего проекта
                        </p>
                    </div>
                </div>
                <div class="services__where-to-start-arrow">
                    <a href="#quiz-modal" class="services__where-to-start-arrow-circle js-open-modal">
                        <div class="services__where-to-start-arrow-circle-bg">
                            <svg width="14" height="14" aria-hidden="true" class="icon-large-white-arrow">
                                <use xlink:href="#large-white-arrow"></use>
                            </svg>
                        </div>

                    </a>
                    <div class="services__where-to-start-arrow-text">
                        Нажмите, чтобы начать
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fresh">
    <div class="container">
        <div class="fresh__content">
            <div class="section-number">
                04
            </div>
            <h2 class="fresh__heading">
                Свежие материалы
            </h2>
            <div class="fresh__row">
                <div class="fresh__col">
                    <a href="#" class="fresh__large-card">
                        <div class="fresh__large-card-image-container">
                            <img src="img/fresh-large.webp" alt="" class="fresh__large-card-image">
                        </div>
                        <h3 class="fresh__large-card-title">
                            Конфиденциальность данных - “попадос” для маркетологов. Но почему это хорошо?
                        </h3>
                    </a>
                </div>
                <div class="fresh__col">
                    <a href="#" class="fresh__small-card">
                        <div class="fresh__small-card-image-container">
                            <img src="img/fresh-small.webp" alt="" class="fresh__small-card-image">
                        </div>
                        <h3 class="fresh__small-card-title">
                            Как правильно разработать свой сайт, чтобы повысить конверсию в продажи
                        </h3>
                    </a>
                    <div class="fresh__social">
                        <h3 class="fresh__social-heading">
                            Следи за новыми полезностями
                        </h3>
                        <ul class="fresh__social-list">
                            <li class="fresh__social-list-item">
                                <a href="#" class="fresh__social-link">
                                    <img src="img/fresh/vk.svg" alt="" class="fresh__social-link-icon">
                                    Vk
                                </a>
                            </li>
                            <li class="fresh__social-list-item">
                                <a href="#" class="fresh__social-link">
                                    <img src="img/fresh/dzen.svg" alt="" class="fresh__social-link-icon">
                                    Яндекс<br> Дзен
                                </a>
                            </li>
                            <li class="fresh__social-list-item">
                                <a href="#" class="fresh__social-link">
                                    <img src="img/fresh/telegram.svg" alt="" class="fresh__social-link-icon">
                                    Telegram
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-us" id="contact-us">
    <div class="container">
        <div class="contact-us__row">
            <div class="contact-us__col">
                <h2 class="contact-us__heading">
                    Хочешь всегда узнавать что&#8209;то новое?
                </h2>
                <div class="contact-us__text">
                    <p>
                        Подпишись и получи бесплатный гайд
                    </p>
                </div>
                <div class="contact-us__subscription">


                    <form action="/" method="POST" class="contact-us__form" data-need-validation=""
                        id="contact-us-form">
                        <div class="contact-us__form-wrapper">
                            <input type="email" class="contact-us__form-input" name="email" placeholder="E-mail"
                                required data-parsley-errors-container="#contact-us-form">
                            <button type="submit" class="contact-us__form-submit">
                                <svg width="14" height="14" aria-hidden="true" class="icon-submit-arrow">
                                    <use xlink:href="#submit-arrow"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="contact-us__form-remark">
                            <p>
                                Регулярная рассылка полезностей
                            </p>
                        </div>
                    </form>
                    <div class="contact-us__success-message">
                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                            <use xlink:href="#checkmark"></use>
                        </svg>
                        Теперь и вы в курсе свежих инсайтов
                    </div>
                </div>

            </div>
            <div class="contact-us__col">
                <a href="#" class="contact-us__calculate">
                    <div class="contact-us__calculate-top-row">
                        <div class="contact-us__calculate-small-text">
                            Бесплатный гайд Aquilasoft
                        </div>
                        <svg width="14" height="14" aria-hidden="true" class="icon-pdf">
                            <use xlink:href="#pdf"></use>
                        </svg>
                    </div>
                    <h4 class="contact-us__calculate-heading">
                        Как правильно рассчитать&nbsp;конверсию и&nbsp;построить воронку
                    </h4>
                </a>
            </div>
            <div class="contact-us__col">
                <div class="contact-us__more-info">
                    <div class="contact-us__more-info-text">
                        <p>
                            Больше полезных знаний ты найдешь в&nbsp;нашем телеграмм канале
                        </p>
                    </div>
                    <a href="#" class="contact-us__more-info-link">
                        Перейти
                        <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                            <use xlink:href="#long-arrow-right"></use>
                        </svg>
                    </a>
                </div>

            </div>
            <div class="contact-us__col">
                <a href="#" class="contact-us__channel-link">
                    <img src="img/instagram.svg" alt="" class="contact-us__channel-link-icon">
                    <div class="contact-us__channel-link-content">
                        <h4 class="contact-us__channel-link-name">
                            @aquilamedia_ru
                        </h4>
                        <div class="contact-us__channel-link-subscribers">
                            500K подписчиков
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>



<section class="collaboration" id="collaboration">
    <div class="container">
        <div class="collaboration__content">
            <div class="collaboration__card">
                <h2 class="collaboration__card-heading">
                    Приглашаем агентства и&nbsp;студии к&nbsp;сотрудничеству
                </h2>
                <div class="collaboration__card-row">
                    <div class="collaboration__illustration">


                        {{> illustration }}
                    </div>
                    <div class="collaboration__card-text-content">
                        <h3 class="collaboration__card-text-heading">
                            Осуществляем аутсорсинг по услугам маркетинга
                        </h3>
                        <ul class="collaboration__card-text-list">
                            <li class="collaboration__card-text-list-item">
                                <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                    <use xlink:href="#checkmark"></use>
                                </svg>
                                Выгодные условия и четкие сроки
                            </li>
                            <li class="collaboration__card-text-list-item">
                                <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                    <use xlink:href="#checkmark"></use>
                                </svg>
                                Удобный трекинг всех задач
                            </li>
                            <li class="collaboration__card-text-list-item">
                                <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                    <use xlink:href="#checkmark"></use>
                                </svg>
                                Релевантный опыт в различных нишах — помогаем&nbsp;на&nbsp;этапах продажи и&nbsp;защиты
                                проекта
                            </li>
                        </ul>
                        <a href="#zoom-modal" class="collaboration__card-text-link js-open-modal">
                            Zoom знакомство
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{{/content}}
{{/extend}}