{{#extend "layout"}}
{{#content "main"}}


<section class="portfolio-header">
    <div class="portfolio-header__bg">
        <img src="img/portfolio-header-bg.svg" alt="" class="portfolio-header__bg-image">
    </div>
    <div class="container">
        <div class="portfolio-header__row">
            <h1 class="portfolio-header__heading">
                Портфолио
            </h1>
            <div class="portfolio-header__text">
                <p>
                    Позиционирование на рынке специфицирует нестандартный подход. Изменение глобальной стратегии как
                    всегда непредсказуемо.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="portfolio">
    <div class="container">
        <div class="portfolio__table">
            <div class="portfolio__table-head">
                <div class="portfolio__table-row">
                    <div class="portfolio__table-th">
                        клиент
                    </div>
                    <div class="portfolio__table-th">
                        проект
                    </div>
                    <div class="portfolio__table-th">
                        год
                    </div>
                    <div class="portfolio__table-th">
                        услуги
                    </div>
                    <div class="portfolio__table-th">
                        сайт
                    </div>
                </div>
            </div>
            <div class="portfolio__table-body">
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        АО «Авиакомпания АЛРОСА»
                    </div>
                    <div class="portfolio__project-title">
                        Продвижение сайта авиакомпании
                    </div>
                    <div class="portfolio__project-year">
                        2022
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag">
                            аналитика
                        </div>
                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>
                    <a href="#hello" class="portfolio__project-website">
                        <div class="portfolio__project-website-link">
                            <span class="portfolio__project-website-link-text">
                                alrosa.aero
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-portfolio-arrow">
                                <use xlink:href="#portfolio-arrow"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        Финтех-стартап
                    </div>
                    <div class="portfolio__project-title">
                        Разработка сайта-платформы с элементами социальной сети Nutson
                    </div>
                    <div class="portfolio__project-year">
                        2022
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag portfolio__project-tag--pink">
                            Таргетированная реклама
                        </div>
                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>
                </div>
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        Скупыч
                    </div>
                    <div class="portfolio__project-title">
                        Генерация заявок на скупку ресторанного оборудования
                    </div>
                    <div class="portfolio__project-year">
                        2022
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag portfolio__project-tag--blue">
                            Контекстная реклама
                        </div>
                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>
                    <a href="#" class="portfolio__project-website">
                        <div class="portfolio__project-website-link">
                            <span class="portfolio__project-website-link-text">
                                skupych.ru
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-portfolio-arrow">
                                <use xlink:href="#portfolio-arrow"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        Floorale
                    </div>
                    <div class="portfolio__project-title">
                        Комплексное продвижение онлайн-школы флористики
                    </div>
                    <div class="portfolio__project-year">
                        2022
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag portfolio__project-tag--yellow">
                            SEO
                        </div>
                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>
                    <a href="#" class="portfolio__project-website">
                        <div class="portfolio__project-website-link">
                            <span class="portfolio__project-website-link-text">
                                alrosa.aero
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-portfolio-arrow">
                                <use xlink:href="#portfolio-arrow"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        Онлайн-школа веб-дизайна Максима Солдаткина
                    </div>
                    <div class="portfolio__project-title">
                        Комплексное продвижение онлайн-школы флористики
                    </div>
                    <div class="portfolio__project-year">
                        2022
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag portfolio__project-tag--red">
                            SMM
                        </div>
                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>
                    <a href="#" class="portfolio__project-website">
                        <div class="portfolio__project-website-link">
                            <span class="portfolio__project-website-link-text">
                                alrosa.aero
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-portfolio-arrow">
                                <use xlink:href="#portfolio-arrow"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        АО «Авиакомпания АЛРОСА»
                    </div>
                    <div class="portfolio__project-title">
                        Продвижение сайта авиакомпании
                    </div>
                    <div class="portfolio__project-year">
                        2022
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag portfolio__project-tag--green">
                            Аудит
                        </div>
                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>
                    <a href="#" class="portfolio__project-website">
                        <div class="portfolio__project-website-link">
                            <span class="portfolio__project-website-link-text">
                                alrosa.aero
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-portfolio-arrow">
                                <use xlink:href="#portfolio-arrow"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        Финтех-стартап
                    </div>
                    <div class="portfolio__project-title">
                        Разработка сайта-платформы с элементами социальной сети Nutson
                    </div>
                    <div class="portfolio__project-year">
                        2021
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag portfolio__project-tag--orange">
                            Веб-разработка
                        </div>
                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>
                </div>
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        Скупыч
                    </div>
                    <div class="portfolio__project-title">
                        Генерация заявок на скупку ресторанного оборудования
                    </div>
                    <div class="portfolio__project-year">
                        2021
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag portfolio__project-tag--orange">
                            Веб-разработка
                        </div>
                        <div class="portfolio__project-tag portfolio__project-tag--green">
                            Аудит
                        </div>
                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>
                    <a href="#" class="portfolio__project-website">
                        <div class="portfolio__project-website-link">
                            <span class="portfolio__project-website-link-text">
                                skupych.ru
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-portfolio-arrow">
                                <use xlink:href="#portfolio-arrow"></use>
                            </svg>
                        </div>
                    </a>

                </div>
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        Floorale
                    </div>
                    <div class="portfolio__project-title">
                        Комплексное продвижение онлайн-школы флористики
                    </div>
                    <div class="portfolio__project-year">
                        2021
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag portfolio__project-tag--pink">
                            Таргетированная реклама
                        </div>

                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>
                    <a href="#" class="portfolio__project-website">
                        <div class="portfolio__project-website-link">
                            <span class="portfolio__project-website-link-text">
                                alrosa.aero
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-portfolio-arrow">
                                <use xlink:href="#portfolio-arrow"></use>
                            </svg>
                        </div>
                    </a>

                </div>
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        Онлайн-школа веб-дизайна Максима Солдаткина
                    </div>
                    <div class="portfolio__project-title">
                        Комплексное продвижение онлайн-школы флористики
                    </div>
                    <div class="portfolio__project-year">
                        2021
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag portfolio__project-tag--blue">
                            Контекстная реклама
                        </div>

                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>
                    <a href="#" class="portfolio__project-website">
                        <div class="portfolio__project-website-link">
                            <span class="portfolio__project-website-link-text">
                                maximsoldatkin.com
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-portfolio-arrow">
                                <use xlink:href="#portfolio-arrow"></use>
                            </svg>
                        </div>
                    </a>

                </div>
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        АО «Авиакомпания АЛРОСА»
                    </div>
                    <div class="portfolio__project-title">
                        Продвижение сайта авиакомпании
                    </div>
                    <div class="portfolio__project-year">
                        2021
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag portfolio__project-tag--seo">
                            SEO
                        </div>

                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>
                    <a href="#" class="portfolio__project-website">
                        <div class="portfolio__project-website-link">
                            <span class="portfolio__project-website-link-text">
                                alrosa.aero
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-portfolio-arrow">
                                <use xlink:href="#portfolio-arrow"></use>
                            </svg>
                        </div>
                    </a>

                </div>
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        Финтех-стартап
                    </div>
                    <div class="portfolio__project-title">
                        Разработка сайта-платформы с элементами социальной сети Nutson
                    </div>
                    <div class="portfolio__project-year">
                        2020
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag portfolio__project-tag--red">
                            SMM
                        </div>

                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>


                </div>
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        Скупыч
                    </div>
                    <div class="portfolio__project-title">
                        Генерация заявок на скупку ресторанного оборудования
                    </div>
                    <div class="portfolio__project-year">
                        2020
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag portfolio__project-tag--green">
                            Аудит
                        </div>

                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>
                    <a href="#" class="portfolio__project-website">
                        <div class="portfolio__project-website-link">
                            <span class="portfolio__project-website-link-text">
                                skupych.ru
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-portfolio-arrow">
                                <use xlink:href="#portfolio-arrow"></use>
                            </svg>
                        </div>
                    </a>

                </div>
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        Floorale
                    </div>
                    <div class="portfolio__project-title">
                        Комплексное продвижение онлайн-школы флористики
                    </div>
                    <div class="portfolio__project-year">
                        2020
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag portfolio__project-tag--orange">
                            Веб-разработка
                        </div>
                        <div class="portfolio__project-tag portfolio__project-tag--blue">
                            Контекстная реклама
                        </div>

                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>
                    <a href="#" class="portfolio__project-website">
                        <div class="portfolio__project-website-link">
                            <span class="portfolio__project-website-link-text">
                                alrosa.aero
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-portfolio-arrow">
                                <use xlink:href="#portfolio-arrow"></use>
                            </svg>
                        </div>
                    </a>

                </div>
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        Онлайн-школа веб-дизайна Максима Солдаткина
                    </div>
                    <div class="portfolio__project-title">
                        Комплексное продвижение онлайн-школы флористики
                    </div>
                    <div class="portfolio__project-year">
                        2020
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag portfolio__project-tag--pink">
                            Таргетированная реклама
                        </div>


                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>
                    <a href="#" class="portfolio__project-website">
                        <div class="portfolio__project-website-link">
                            <span class="portfolio__project-website-link-text">
                                maximsoldatkin.com
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-portfolio-arrow">
                                <use xlink:href="#portfolio-arrow"></use>
                            </svg>
                        </div>
                    </a>

                </div>
                <div class="portfolio__table-row">
                    <div class="portfolio__table-row-bg">
                        <div class="portfolio__table-row-bg-fullwidth">

                        </div>
                        <div class="portfolio__table-row-bg-inner">

                        </div>
                    </div>
                    <div class="portfolio__project-client">
                        АО «Авиакомпания АЛРОСА»
                    </div>
                    <div class="portfolio__project-title">
                        Продвижение сайта авиакомпании
                    </div>
                    <div class="portfolio__project-year">
                        2020
                    </div>
                    <div class="portfolio__project-tags">
                        <div class="portfolio__project-tag portfolio__project-tag--yellow">
                            SEO
                        </div>

                    </div>
                    <a href="#" class="portfolio__project-link-wrapper"></a>
                    <a href="#" class="portfolio__project-website">
                        <div class="portfolio__project-website-link">
                            <span class="portfolio__project-website-link-text">
                                alrosa.aero
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-portfolio-arrow">
                                <use xlink:href="#portfolio-arrow"></use>
                            </svg>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>



{{/content}}
{{/extend}}