{{#extend "layout"}}
{{#content "main"}}


<section class="services-page">
    <div class="container">
        <h1 class="services-page__main-heading">
            Работаем и не морочим вам голову
        </h1>
        <div class="services-page__layout">
            <div class="services-page__sidebar">
                <h2 class="services-page__heading">
                    услуги
                </h2>
                <div class="services-page__arrow-wrapper">
                    <img src="img/services-page-arrow.svg" alt="" class="services-page__arrow">
                </div>
            </div>
            <div class="services-page__main">
                <div class="services-page__outer-wrapper">
                    <a href="#callback-modal" class="services-page__callback-btn js-open-modal">
                        Подобрать<br> услугу
                    </a>
                    <div class="services-page__content">
                        <img src="img/magenta-spot.webp" alt="" class="services-page__magenta-spot">

                        <div class="services-page__content-inner">



                            <div class="services-page__intro-text">
                                <p>
                                    Позиционирование на рынке специфицирует нестандартный подход. Изменение глобальной
                                    стратегии
                                    как всегда непредсказуемо.
                                </p>
                            </div>
                            <div class="services-page__top-row">
                                <div class="services-page__illustration-wrapper">
                                    <img src="img/services-ilustration.svg" alt="" class="services-page__illustration">
                                </div>
                                <div class="services-page__desc">
                                    <p>
                                        Позиционирование на рынке специфицирует нестандартный подход. Изменение
                                        глобальной
                                        стратегии как всегда непредсказуемо.
                                    </p>
                                    <p>
                                        Позиционирование на рынке специфицирует нестандартный подход. Изменение
                                        глобальной
                                        стратегии как всегда непредсказуемо.
                                    </p>
                                </div>
                            </div>
                            <div class="services-page__accordions">
                                <div class="services-page__accordion js-accordion" data-close-other="">
                                    <div class="services-page__accordion-btn js-accordion-btn">
                                        Аудит и аналитика
                                        <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus"></use>
                                        </svg>
                                    </div>
                                    <div class="services-page__accordion-content js-accordion-content">
                                        <div class="services-page__accordion-content-inner">
                                            <p>
                                                Анализируем эффективность рекламных кампаний и сайта, составляем
                                                рекомендации по
                                                улучшению показателей.
                                            </p>
                                            <p>
                                                По итогам аудита составляем план по продвижению бизнеса в интернете,
                                                подбирая
                                                оптимальные каналы трафика с учетом бюджета.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="services-page__accordion js-accordion" data-close-other="">
                                    <div class="services-page__accordion-btn js-accordion-btn">
                                        Таргетированная реклама
                                        <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus"></use>
                                        </svg>
                                    </div>
                                    <div class="services-page__accordion-content js-accordion-content">
                                        <div class="services-page__accordion-content-inner">
                                            <p>
                                                Анализируем эффективность рекламных кампаний и сайта, составляем
                                                рекомендации по
                                                улучшению показателей.
                                            </p>
                                            <p>
                                                По итогам аудита составляем план по продвижению бизнеса в интернете,
                                                подбирая
                                                оптимальные каналы трафика с учетом бюджета.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="services-page__accordion js-accordion" data-close-other="">
                                    <div class="services-page__accordion-btn js-accordion-btn">
                                        Контекстная реклама
                                        <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus"></use>
                                        </svg>
                                    </div>
                                    <div class="services-page__accordion-content js-accordion-content">
                                        <div class="services-page__accordion-content-inner">
                                            <p>
                                                Анализируем эффективность рекламных кампаний и сайта, составляем
                                                рекомендации по
                                                улучшению показателей.
                                            </p>
                                            <p>
                                                По итогам аудита составляем план по продвижению бизнеса в интернете,
                                                подбирая
                                                оптимальные каналы трафика с учетом бюджета.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="services-page__accordion js-accordion" data-close-other="">
                                    <div class="services-page__accordion-btn js-accordion-btn">
                                        Поисковая оптимизация (SEO)
                                        <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus"></use>
                                        </svg>
                                    </div>
                                    <div class="services-page__accordion-content js-accordion-content">
                                        <div class="services-page__accordion-content-inner">
                                            <p>
                                                Анализируем эффективность рекламных кампаний и сайта, составляем
                                                рекомендации по
                                                улучшению показателей.
                                            </p>
                                            <p>
                                                По итогам аудита составляем план по продвижению бизнеса в интернете,
                                                подбирая
                                                оптимальные каналы трафика с учетом бюджета.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="services-page__accordion js-accordion" data-close-other="">
                                    <div class="services-page__accordion-btn js-accordion-btn">
                                        Разработка SMM стратегий и ведение соц.сетей
                                        <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus"></use>
                                        </svg>
                                    </div>
                                    <div class="services-page__accordion-content js-accordion-content">
                                        <div class="services-page__accordion-content-inner">
                                            <p>
                                                Анализируем эффективность рекламных кампаний и сайта, составляем
                                                рекомендации по
                                                улучшению показателей.
                                            </p>
                                            <p>
                                                По итогам аудита составляем план по продвижению бизнеса в интернете,
                                                подбирая
                                                оптимальные каналы трафика с учетом бюджета.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="services-page__accordion js-accordion" data-close-other="">
                                    <div class="services-page__accordion-btn js-accordion-btn">
                                        Аудит и построение отделов продаж
                                        <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus"></use>
                                        </svg>
                                    </div>
                                    <div class="services-page__accordion-content js-accordion-content">
                                        <div class="services-page__accordion-content-inner">
                                            <p>
                                                Анализируем эффективность рекламных кампаний и сайта, составляем
                                                рекомендации по
                                                улучшению показателей.
                                            </p>
                                            <p>
                                                По итогам аудита составляем план по продвижению бизнеса в интернете,
                                                подбирая
                                                оптимальные каналы трафика с учетом бюджета.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="services-page__accordion js-accordion" data-close-other="">
                                    <div class="services-page__accordion-btn js-accordion-btn">
                                        Веб-разработка и мобильные приложения
                                        <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus"></use>
                                        </svg>
                                    </div>
                                    <div class="services-page__accordion-content js-accordion-content">
                                        <div class="services-page__accordion-content-inner">
                                            <p>
                                                Анализируем эффективность рекламных кампаний и сайта, составляем
                                                рекомендации по
                                                улучшению показателей.
                                            </p>
                                            <p>
                                                По итогам аудита составляем план по продвижению бизнеса в интернете,
                                                подбирая
                                                оптимальные каналы трафика с учетом бюджета.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="services-page__zoom">
                                <div class="services-page__zoom-content">
                                    <h2 class="services-page__zoom-heading">
                                        Запишитесь на 30-ти минутный ZOOM с маркетологом агентства
                                    </h2>
                                    <ul class="services-page__zoom-list">
                                        <li class="services-page__zoom-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark"></use>
                                            </svg>
                                            Мы проанализируем все источники трафика и текущий сайт
                                        </li>
                                        <li class="services-page__zoom-list-item">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark"></use>
                                            </svg>
                                            Вы получите трехмесячный план по развитию вашего бизнеса в интернете
                                        </li>
                                    </ul>
                                </div>

                                <a href="#audit-modal" class="services-page__zoom-link js-open-modal">
                                    Записаться<br>на аудит
                                </a>
                            </div>
                        </div>
                        <img src="img/blue-spot-black.webp" alt="" class="services-page__blue-spot">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



{{/content}}
{{/extend}}