.case-header {
    position: relative;
    z-index: 1;
    color: white;
    overflow: hidden;
}

.case-header__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#040418, 0.75);
    }
}

.case-header__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.case-header__row {
    display: grid;
    grid-template-columns: minmax(0, var(--sidebar-width)) minmax(0, 1fr);
    padding-top: 13rem;
    padding-bottom: 5rem;
    min-height: 58rem;
    align-items: flex-start;

    @include breakpoint(mobile) {
        min-height: auto;
        padding-top: 7rem;
        padding-bottom: 3rem;
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
    }
}

.case-header__back {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    transition: opacity .2s;
    svg {
        flex-shrink: 0;
        fill: currentColor;
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 0.5rem;
        margin-top: 0.3rem;
    }

    .no-touch &:hover,
    .touch &:active {
        opacity: 0.5;
    }
}

.case-header__content {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 6rem;
    align-items: flex-start;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
    }
}

.case-header__text-content {
    

    @include breakpointMF(small-tablet) {
        grid-column: 1 / 4;
    }
}

.case-header__main-heading {
    font-style: normal;
    font-weight: 300;
    font-size: 6.2rem;
    line-height: 6.8rem;
    letter-spacing: -0.01em;
    margin-bottom: 5rem;
    margin-top: -0.5rem;

    @include breakpoint(mobile) {
        font-size: 2.8rem;
        line-height: 1.2;
        margin-bottom: 1.5rem;

        br {
            display: none;
        }
    }
}

.case-header__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.3rem;
    max-width: 40rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.case-header__achievements-list {

    @include breakpointMF(small-tablet) {
        grid-column: 5 / -1;
    }
    
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 4rem;
    position: relative;

    @include breakpoint(mobile) {
        grid-gap: 2rem;
    }
    &::before {
        content: '';
        position: absolute;
        width: 27.4rem;
        height: 27.4rem;
        z-index: -1;
        left: -14rem;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../img/case-header-blur.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.case-header__achivements-card-amount {
    font-style: normal;
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 4.8rem;
    margin-bottom: 0.3rem;

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 1.2;
    }
}

.case-header__achivements-card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }
}
