.section-number {
    position: absolute;
    left: 0;
    top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 7.6rem;
    letter-spacing: -0.01em;

    color: #e6ecfb;

    &--blue {
        color: #22285C;
    }

    @include breakpoint(mobile) {
        display: none;
    }
}
