.services {
    margin-bottom: 12rem;
    background: linear-gradient(309.27deg, rgba(7, 60, 189, 0.1334) 23.71%, rgba(7, 60, 189, 0) 95.58%), #040418;
    color: white;

    @include breakpoint(mobile) {
        margin-bottom: 3.5rem;
    }
}

.services__content {
    padding-left: var(--sidebar-width);
    padding-top: 9rem;
    padding-bottom: 17rem;

    @include breakpoint(mobile) {
        padding: 3.5rem 0;
    }
}

.services__top-row {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.4fr);
    grid-gap: 7rem;
    margin-bottom: 10rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 0;
        margin-bottom: 3rem;
        
    }
}

.services__heading {
    font-weight: normal;
    font-size: 6rem;
    line-height: 7.6rem;
    letter-spacing: -0.01em;
    margin-bottom: 3.5rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.3;
        margin-bottom: 1.5rem;
    }
}

.services__heading-text {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.01em;
    margin-bottom: 2rem;
    max-width: 40rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

.services__link {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.6rem;
    background: linear-gradient(271.78deg, #073cbd -56.16%, #08a2f7 22.14%, #63faff 95.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    gap: 1.9rem;



    svg {
        width: 3rem;
        height: 3rem;
        flex-shrink: 0;
        margin-top: 0.3rem;
    }

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 1.2;
        gap: 1.2rem;
        order: 10;

        svg {
            width: 2.8rem;
            height: 2.8rem;
        }
    }
}

.services__list {
    padding: 1.6rem 6rem;
    position: relative;

    z-index: 1;

    &::before {
        // content: '';
        // position: absolute;
        // inset: 0;
        // border-radius: 50px;
        // padding: 10px;
        // background: linear-gradient(45deg, red, blue);
        // mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
        // mask-clip: padding-box, border-box;
        // mask-composite: exclude;

        content: '';
        position: absolute;
        inset: 0;
        border-radius: 1.5rem;
        padding: 1px;
        background: linear-gradient(271.83deg, #073CBD 12.25%, #08A2F7 55.22%, #63FAFF 95.45%);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        opacity: 0.5;
    }

    @include breakpoint(mobile) {
        padding: 1.5rem;
        margin-bottom:2rem;
    }
}

.services__list-item {
    border-bottom: 1px solid #1a2040;
    &:last-child {
        border: transparent;
    }
}

.services__card {
    padding: 2.7rem 0;
    display: flex;
    align-items: center;
    gap: 6rem;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 4rem;

    @include breakpoint(mobile) {
        padding: 1.5rem;
        font-size: 1.6rem;
        line-height: 1.2;
        gap: 1.6rem;
    }
}

.services__card-icon {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    object-fit: contain;

    @include breakpoint(mobile) {
        width: 2.4rem;
        height: 2.4rem;
    }
}

.services__where-to-start {
    display: grid;
    @include breakpointMF(small-tablet) {
        grid-template-columns: minmax(0, 1fr) minmax(0, 63rem);
        grid-gap: 6rem;
        align-items: center;
    }

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 3rem;
        margin-top: 4rem;
    }
}

.services__where-to-start-title {
    font-size: 4.5rem;
    line-height: 5.7rem;
    font-weight: 400;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.3;
        margin-bottom: 1.5rem;
    }
}

.services__where-to-start-text {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.01em;
    max-width: 55rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.3;
    }
}

.services__where-to-start-arrow {
    position: relative;
    width: 30rem;
    height: 30rem;

    @include breakpoint(mobile) {
        width: 12rem;
        height: 12rem;
    }
}

.services__where-to-start-arrow-circle {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
    display: block;
    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url('../img/circle-dashed.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &::before {
        // transform: translateX(10rem);
        animation-name: circle-slide-in-1;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }

    &::after {
        opacity: 0.5;

        animation-name: circle-slide-in-2;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        // animation-delay: 1s;
    }

    .no-touch &:hover,
    .touch &:active {
        .services__where-to-start-arrow-circle-bg svg {
            transform: scale(1.15);
        }
    }
}

@keyframes circle-slide-in-1 {
    0% {
        transform: translateX(0rem);
    }

    50% {
        transform: translateX(10rem);
        opacity: 1;
    }

    80% {
        opacity: 1;
        transform: translateX(10rem);
    }

    100% {
        transform: translateX(10rem);
        opacity: 0;
    }
}

@keyframes circle-slide-in-2 {
    0% {
        transform: translateX(0rem);
        opacity: 0.5;
    }

    50% {
        transform: translateX(20rem);
        opacity: 0.5;
    }

    80% {
        opacity: 0.5;
        transform: translateX(20rem);
    }

    100% {
        transform: translateX(20rem);
        opacity: 0;
    }
}

@include breakpoint(mobile) {
    @keyframes circle-slide-in-1 {
        0% {
            transform: translateX(0rem);
        }

        50% {
            transform: translateX(5rem);
            opacity: 1;
        }

        80% {
            opacity: 1;
            transform: translateX(5rem);
        }

        100% {
            transform: translateX(5rem);
            opacity: 0;
        }
    }

    @keyframes circle-slide-in-2 {
        0% {
            transform: translateX(0rem);
            opacity: 0.5;
        }

        50% {
            transform: translateX(10rem);
            opacity: 0.5;
        }

        80% {
            opacity: 0.5;
            transform: translateX(10rem);
        }

        100% {
            transform: translateX(10rem);
            opacity: 0;
        }
    }
}

.services__where-to-start-arrow-circle-bg {
    border-radius: 50%;
    background-color: var(--primary-color);
    background-image: url('../img/noise-pattern.png'), url('../img/blue-gradient.svg');
    background-repeat: repeat, no-repeat;
    background-size: 4rem 4rem, cover;
    background-position: left top, center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    svg {
        width: 14rem;
        height: 14rem;
        fill: white;
        transition: transform 0.3s;

        @include breakpoint(mobile) {
            width: 6rem;
            height: 6rem;
        }
    }
}

.services__where-to-start-arrow-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    margin-top: 5rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: -0.01em;
    color: rgba(#cfd5e7, 0.6);
    white-space: nowrap;

    @include breakpoint(mobile) {
        display: none;
    }
}


.services__arrow {
    margin-top: 12rem;
    width: 100%;
    height: auto;
    display: block;

    @include breakpoint(mobile) {
        display: none;
    }
}

.services__col {
    @include breakpoint(mobile) {
        display: contents;
    }
}